html {
  overflow-y: scroll;
}

body {
  /*background-color: #F1C40F;*/
}

/*a:hover {
  color: #F1C40F;
}*/

.navbar {
  margin-top: 20px;
}

.jumbotron{
  background-color: transparent;
}

.option {
  text-align: center;
  margin: 40px 0;
}


.btn-circle{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  line-height: 200px;
  background: #C0392B;
  color: #ECF0F1;
  margin: 0 auto;
}

.btn-circle:hover;{
  color: #F1C40F;
}


/* DRINK ELEMENTS */


.rating{
  margin-top: 30px;
  text-align: center;
}



.up, 
.down {
  display: block;
  margin: 0;
  padding: 0;
  line-height: 1rem;
  cursor: pointer;
}


/* INGREDIENTS VIEW */

.invisible {
  display: none;
}